@import '@styles/variables.module.scss';
@import '@styles/mixins.scss';

@keyframes loaderEntry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  animation: loaderEntry $transitionVerySlow ease-in-out forwards;
}
