@import '@styles/mixins.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  @include container;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
