//colors
$colorBlue: #017efa;
$colorWhite: #ffffff;
$colorGreen: #13b053;

//font-size
$fontSizeRegular: 1rem;
$fontSizeMedium: 1.125rem;

//letter-spacing
$letterSpacingSmall: 0.01em;

//transition
$transitionSlow: 0.2s;
$transitionVerySlow: 0.4s;

:export {
  colorBlue: $colorBlue;
  colorWhite: $colorWhite;
  colorGreen: $colorGreen;
  fontSizeRegular: $fontSizeRegular;
  fontSizeMedium: $fontSizeMedium;
  letterSpacingSmall: $letterSpacingSmall;
  transitionSlow: $transitionSlow;
  transitionVerySlow: $transitionVerySlow;
}
