@import '@styles/variables.module.scss';
@import '@styles/mixins.scss';

@keyframes openModal {
  0% {
    transform: translatey(-20vh);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translatey(0);
  }
}

.container {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include container;
  max-width: 12rem;
  height: fit-content;
  color: $colorWhite;
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: $colorGreen;
  animation: openModal $transitionVerySlow ease-in-out forwards;
}
