@import '@styles/variables.module.scss';
@import '@styles/mixins.scss';

@keyframes buttonEntry {
  from {
    transform: translateX(-10vw);
  }
  to {
    transform: translateX(0);
  }
}

.button {
  @include container;
  flex-direction: row;
  justify-content: center;
  max-width: 10rem;
  font-size: $fontSizeRegular;
  color: $colorWhite;
  text-align: center;
  letter-spacing: $letterSpacingSmall;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: $colorBlue;
  transition: opacity $transitionSlow ease-in-out;
  animation: buttonEntry $transitionVerySlow ease-in-out forwards;

  &:hover,
  &:focus,
  &:disabled {
    opacity: 0.6;
  }

  &:disabled {
    pointer-events: none;
  }
}
