@import '@styles/mixins.scss';
@import '@styles/variables.module.scss';

.article {
  @include container;
  align-items: flex-start;
  color: $colorWhite;
  letter-spacing: $letterSpacingSmall;
  font-size: $fontSizeRegular;
}

.title {
  font-size: $fontSizeRegular;
  font-weight: 500;
  margin: 0;
}

.text {
  font-size: $fontSizeRegular;
  margin: 0.5rem 0 0;
}
